<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Notifications</title>

   <!-- slider stylesheet -->
   <link rel="stylesheet" type="text/css"
   href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

 <!-- font wesome stylesheet -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

 <!-- bootstrap core css -->
 <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" />

 <!-- fonts style -->
 <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
 <!-- Custom styles for this template -->
 <link href="static/css/style.css" rel="stylesheet" />
 <!-- responsive style -->
 <link href="static/css/responsive.css" rel="stylesheet" />
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
          <a class="navbar-brand mr-5" href="index.html">
            <img src="images/OIP(12).png" alt="">
            <span>
              NOTIFICATIONS
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Accueil <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/utilisateur">Utilisateurs </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/compte"> Compte </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/transaction">Transactions</a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" href="/notification">Notifications</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/support">Supports</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/integrationApi">IntegrationApi</a>
                </li>
              </ul>
              
              <form class="form-inline" action="/search" method="post">
                  <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search" name="query">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
              
              </form>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->

  </div>

  
  <!-- footer section -->

  <h2>
    <a href="/ajoutNotification" class="btn btn-primary">Vérifier les notifications</a>
</h2>

</li>


<h1>Notifications</h1>
<table id="notificationsTable" class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            
            <th>id</th>
            <th>message</th>
            <th>date d'envoi</th>
            <th>Statut</th>
            <th>Type </th>
            <th>ACTIONS</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script>
    $(document).ready(function() {
        function loadNotifications() {
            $.ajax({
                url: "/api/notifications",
                method: "GET",
                success: function(data) {
                    var table = $("#notificationsTable tbody");
                    table.empty();
                    data.forEach(function(notification) {
                        var row = "<tr>" +
                            
                            "<td>" + notification.id + "</td>" +
                            "<td>" + notification.message + "</td>" +
                            "<td>" + notification.date_envoi + "</td>" +
                            "<td>" + notification.statut + "</td>" +
                            "<td>" + notification.type_notification + "</td>" +
                            "<td>" +
                            "<button class='btn btn-warning btn-edit' data-id='" + notification.id + "'>Modifier</button> " +
                            "<button class='btn btn-danger btn-delete' data-id='" + notification.id+ "'>Supprimer</button>" +
                            "</td>" +
                            "</tr>";
                        table.append(row);
                    });
                },
                error: function(error) {
                    console.log("Erreur lors de la récupération des données :", error);
                }
            });
        }
        loadNotifications();

        // Edit client
        $(document).on("click", ".btn-edit", function() {
            var id = $(this).data("id");
            
        });

        // Delete client
        $(document).on("click", ".btn-delete", function() {
            var id = $(this).data("id");
            $.ajax({
                url: "/api/notifications",
                method: "DELETE",
                contentType: "application/json",
                data: JSON.stringify({ id: id }),
                success: function(response) {
                    alert(response.message);
                    loadNotifications();
                },
                error: function(error) {
                    console.log("Erreur lors de la suppression  :", error);
                }
            });
        });
    });
</script>
